navBarHeight = 50px
#topBar
    Flex(center, space-between)
    background Black
    height navBarHeight
    img
        width (navBarHeight/.5)
    div
        display flex
        align-items stretch
        height 100%
        a
            text-decoration none
            margin 0
            width 90px
            text-align center
            line-height 50px
            color white
            BackgroundColorTransition(0.5s, Blue, lighten(Blue, 15%))
            &:first-child
                border-right 1px solid Black
