navBarHeight = 50px
#topBar
    Flex(center, space-between)
    background Black
    height navBarHeight
    img
        width (navBarHeight/.5)
    div
        display flex
        align-items stretch
        height 100%
        a
            text-decoration none
            padding 0 30px
            line-height 50px
            color white
            BackgroundColorTransition(0.5s, Blue, lighten(Blue, 15%))
