<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOMS</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
      <div id="topBar">
          <img src="images/Logo_Name_Combo_White.png" alt="">
          <div>
              <a href="login.html">Login</a>
              <a href="">Signup</a>
          </div>
      </div>
      <div id="banner" class="imageSection">
          <div>
              <h2>Unlock The World</h2>
              <p>Geo is a travel companion to keep track of all the wonderful places you have been and will be your guide to the next great thing. If you travel to a cool place thats on our list, Geo will give you a badge for having traveled there, so you can log in at any time and see a list of badges you have unlocked.</p>
          </div>
      </div>
      <div id="about">
          <h2>How do I take Geo with me?</h2>
          <p>We don’t expect you to carry your laptop on your hike up half-dome or need you to have a WiFi connection on your drive through Montana. Thats why we built an iPhone app to work with this website. Download the free app through the app store, log in, and you are good to go. Anytime you are within range of a badge, just press the “validate my location" button and we will take care of the rest. We are in the proccess of developing an Android app as well, so everyone can participate.</p>
      </div>
      <div class="imageSection" id="badges">
          <div>
              <h2>Badges</h2>
              <p>While our badges are not globally reaching, we continue to add new ones on a regular basis. Some badges will be digitally drawn by Connor, Lily and Robert, while the majority of badges will be the highest quality photographs of the location we can get.</p>
              <div class="imageContainer">
                  <img src="images/Badges/USA/Oregon/oregon_badge.png" alt="">
              </div>
          </div>
      </div>
    </div>
</body>
<script src="vue.min.js"></script>
<script src="index.js"></script>
</html>
