<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOMS Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div id="topBar">
        <img src="images/Logo_Name_Combo_White.png" alt="">
        <div>
            <a href="login.html">Register</a>
            <a href="">Home</a>
        </div>
    </div>
</body>
</html>
