<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOMS Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div id="topBar">
        <img src="images/Logo_Name_Combo_White.png" alt="">
        <div>
            <a href="index.html">Home</a>
            <a href="login.html">Register</a>
        </div>
    </div>
    <div id="app">
        <div>
            <h2>Login</h2>
            <div>
                <input type="text" v-model.lazy="username" id="username" placeholder="username">
                <p>{{ feedback.username }}</p>
            </div>
            <div>
                <input type="text" v-model="password" id="password" placeholder="password">
                <p>{{ feedback.password }}</p>
            </div>
            <button>Submit</button>
        </div>
    </div>
</body>
<script src="vue.min.js"></script>
<script src="login.js"></script>
</html>
